.timer {
  &__wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
    background-color: $colorWhite;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 0px;
  }

  &__display {
    display: flex;
    justify-content: center;
    font-size: 25rem;
    font-family: $fontFamily;
  }

  &__btn {
    display: flex;
    gap: 0px 50px;
    font-size: 5rem;
  }
}
