.about {
  &__wrapper {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: $colorWhite;
  }

  &__list {
    display: flex;
    list-style: none;
    flex-flow: column nowrap;
    width: 100%;
    box-sizing: border-box;
  }

  &__item {
    display: flex;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 0px 40px;
    color: #3c4238;
    @include pad {
      flex-direction: column;
      padding: 60px 20px 0px;
      gap: 10px;
    }
    @include phone {
      padding: 60px 8px 0px;
    }

    &--odd {
      flex-direction: row;
      @include pad {
        flex-direction: column;
      }
    }

    &--even {
      flex-direction: row-reverse;
      @include pad {
        flex-direction: column;
      }
    }

    &--end {
      background-color: #376242;
      color: #fcfcfe;
      background-image: cover;
      @include pad {
        flex-direction: column;
      }
    }
  }

  &__desArea {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-width: 445px;
    @include pad {
      max-width: 100%;
      gap: 10px;
    }
  }

  &__desLabel {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    font-size: 56px;
    font-weight: bold;
    flex-wrap: wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.2;
  }

  &__desTxt {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    white-space: pre-wrap;
    /* 長行會自動換行 */
    word-wrap: break-word;
    /* 超出寬度的單詞會換行 */
    max-width: 100%;
  }

  &__imgArea {
    max-width: 445px;
    width: 100%;
    box-sizing: border-box; // 確保寬度計算正確
    @include pad {
      max-width: 85%;
    }
  }

  &__img {
    display: flex;
    max-width: 100%;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: 500;
    color: #5f6858;
    padding: 80px 130px;
    background-color: #fcfcfe;
    line-height: 1.5;
    @include pad {
      padding: 60px 20px 0px;
    }
    @include phone {
      padding: 60px 8px 0px;
    }
  }
}
