

.header {
  cursor: default;

  &__wrapper {
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    padding-top: 0px;
    padding-right: 28px;
    padding-bottom: 0px;
    padding-left: 28px;
    background-color: $colorWhite;
    @include pad{
      flex-flow: row nowrap;
      padding-top: 0px;
      padding-right: 28px;
      padding-bottom: 0px;
      padding-left: 28px;
    }
    @include phone{
      padding: 20px 22px 20px 30px;
    }
  }
  &__area {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    &--tool {
      align-items: center;
      justify-content: space-around;
    }

    &--logo {
      align-items: center;
    }
  }

  &__menuList {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    cursor: url("src/assets/images/cursor.png") 2 2, pointer;

    &--icon{
      padding: 8px;
      gap: 5px;
      height: 36px;
      width: 36px;

    }
  }

  &__menuItem {
    display: flex;
    flex-flow: column wrap;
    padding: 0px 16px;
    font-family: 'Inter', Sans-serif;
    font-size: 14.6px;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.5px;
    color: #5f6858;
    
    @include tablet{
      display: none;
      padding: 40px 10px;
    }
    @include pad{
      padding: 40px 10px;
    }

    @include phone{
      display:none;
    }
  }

&__btn{
  &--about{
    background-color: #ffef00;
    font-family: 'Inter', Sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #5f6858;
    border-radius: 999px 999px 999px 999px;
    padding: 8px 16px 8px 16px;
    border-width: 0px;
  }
 
}
}
