// device
$tabletWidth: 1200px;
$padWidth: 992px;
$phoneWidth: 415px;

// font

$fontFamily: 'Microsoft Yahei', 'Microsoft JhengHei', 'Roboto', 'DejaVu Sans', sans-serif;

// Guideline Color

$colorBlack: #000;
$colorWhite: #fff;
