.policy {
  &__wrapper {
    background-color: $colorWhite;
    padding: 180px 211.5px 96px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;

    @include pad {
      margin-top: 80px;
      padding: 0px 30px;
    }
  }
  &__pageTitle {
    font-size: 28px;
    line-height: 33px;
    white-space: pre-wrap;
    font-weight: bold;
    &--subtitle {
      font-size: 14px;
    }
  }

  &__text {
    white-space: pre-wrap;
    display: flex;
    flex-flow: column wrap;
    &--title {
      font-weight: bold;
    }
    &--content {
      justify-content: center;
      line-height: 1.5;
    }
  }
}
