.policy{
    display: flex;
    justify-content: center;
    background-color: $colorWhite;

    &__wrapper{
        width:600px;
    
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        margin: 100px 211.5px 96px;

        @include phone{
            margin: 100px 0px 96px;
            padding: 0px 30px;
        }
    
    }
    &__pageTitle{
        font-size: 28px;
        line-height: 33px;
        white-space: pre-wrap;
        &--subtitle{
            font-size: 14px;
        }
    }

    &__text{
        white-space: pre-wrap;
        display: flex;
            flex-flow: column wrap;
        &--title{
            font-weight: bold;
        }
        &--content{
            
            justify-content: center;
            line-height: 1.5;
        
        }
    }
    
}